/* div{
   width: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: hotpink;
    display: inline-block;
    
} */
h1, h2{
    background-color: blueviolet;
}
h1, h2:hover{
    background-color: black;
    color: whitesmoke;
}