<div>
    <h2>To-Do Task</h2>
    <form #taskRef="ngForm" (ngSubmit)="setTask(taskRef)">
    <mat-form-field>
        <mat-label>Task ID</mat-label>
        <input matInput name="id" ngModel/>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Task Name</mat-label>
        <input type="text" name="name" matInput ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Task Type</mat-label>
        <input type="text" name="task" matInput ngModel>
    </mat-form-field>
    <br>
    <!-- <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    <br> -->
    <mat-form-field>
        <mat-label> </mat-label>
        <input type="Date" name="date" matInput ngModel>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary">Submit</button>
    <button mat-raised-button type="reset" color="warn">Clear</button>
    
    </form>
</div>
<br/>
<hr>
<div>
    <h2>To-Do List</h2>
    <table border="1" style="width: 70%;">
        <tr><th>ID</th><th>Name</th><th>Task</th><th>Dead Line</th></tr>
        <tr *ngFor="let ti of arr">
            <td>{{ti.id}}</td>
            <td>{{ti.name}}</td>
            <td>{{ti.task}}</td>
            <td>{{ti.deadLine}}</td>
        </tr>
    </table>

</div>

