<div>
    <h2>Login Page</h2>
    <form #taskRef="ngForm" (ngSubmit)="setTask(taskRef)">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput name="id" ngModel/>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput name="name" ngModel/>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Task</mat-label>
            <input matInput name="task" ngModel/>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Dead Line</mat-label>
            <input matInput type="date" name="date" ngModel/>
        </mat-form-field>
        <br/>
        <button type="submit" mat-raised-button color="primary">Sign In</button>
        <button type="reset" mat-raised-button style="background-color: bisque;">Reset</button>
    </form>
    <br/>
    <div>
        <table border="1" style="width: 50%;">
            <tr><th>ID</th><th>Name</th><th>Task</th><th>Dead Line</th></tr>
            <tr *ngFor="let ti of arr">
                <td>{{ti.id}}</td>
                <td>{{ti.name}}</td>
                <td>{{ti.task}}</td>
                <td>{{ti.deadLine}}</td>
            </tr>
        </table>
    </div>
    
</div>