<div>
    <div *ngIf="diplay">
    <button type="button" mat-raised-button color="primary"  (click)="diplayTest()">Start Test</button>
    click here to start your test...
    </div>


    <div *ngIf="testActive">
        <form [formGroup]="myForm"  (ngSubmit)="displayResult()">
             <div *ngFor="let ee of arr; let i=index">
                {{i+1+")"}} {{ee.question}}
                <ol style="list-style-type: lower-alpha;">
                       <li><input type="radio" formControlName={{ee.question}} value={{ee.choice1}} [disabled]="diplay" >{{ee.choice1}}</li> 
                       <li><input type="radio" formControlName={{ee.question}} value={{ee.choice2}} [disabled]="diplay"  >{{ee.choice2}}</li> 
                       <li><input type="radio" formControlName={{ee.question}} value={{ee.choice3}} [disabled]="diplay" >{{ee.choice3}}</li> 
                       <li><input type="radio" formControlName={{ee.question}} value={{ee.choice4}} [disabled]="disable" >{{ee.choice4}}</li>          
                </ol> 
            </div>
            <button mat-raised-button color="warn" type="submit" style="margin: 2%;">Submit Test</button>
        </form>
    </div>


    <div *ngIf="testSubmited">
    <form #testRef="ngForm" >
      <div *ngFor="let ee of arr; let i=index">
        {{i+1+")"}} {{ee.question}}
          <ol style="list-style-type: lower-alpha;">
            <li><input type="radio" name={{ee.question}} value={{ee.choice1}} disabled>{{ee.choice1}}</li> 
            <li><input type="radio" name={{ee.question}} value={{ee.choice2}} disabled >{{ee.choice2}}</li> 
            <li><input type="radio" name={{ee.question}} value={{ee.choice3}} disabled >{{ee.choice3}}</li> 
            <li><input type="radio" name={{ee.question}} value={{ee.choice4}} disabled >{{ee.choice4}}</li>               
     </ol>
     <div [ngStyle]="{'color':selected[i]? 'green' : 'red'}">{{ee.answer}}</div>
      </div>
    </form>
  <div class="result">
    <div style="margin-bottom: 10px;">Test Score : {{correctCounter}}/{{arr.length}}</div>
    <div style="margin-bottom: 2%;">Test Percentage : {{percent()}}</div>
  </div>
  </div>
</div>
